.Filter {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.Done {
    margin-right: 10px;
}

.Pending,
.Done {
    color: var(--cor-primaria);
    font: normal normal normal 24px/32px Roboto;
    display: inline;
    font-size: 14px;
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    padding: 1px 10px 1px 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    cursor: pointer;
}

.botao.selecionado {
    border:1px solid #4DA6B3;
    background: #F7F7F8 0% 0% no-repeat;
    display: flex;
    flex-direction: row;
}

.botao.selecionado::before{
    background: url('../img/verifica.png')center center / 100% 100% no-repeat;
    display: flex;
    flex-direction: row;
    height: 15px;
    width: 15px;
    content: '';
    margin-top:8px;
    margin-right: 5px;
}




@media (min-width: 768px) {
    .Filter {
        display: flex;
        margin-top: -2.7vw;
        width: 25%;
        justify-content: left;
    }
}