.header {
    height: 70px;
    display: flex;
    overflow: hidden;
    position: relative;
}

.mesano {
    display: flex;
    position: relative;
    width: min-content;
    flex-direction: column;
    top: 0px;
    left: 70px;
}

.day {
    position: absolute;
    font-size: 60px;
    text-align: left;
    font: normal normal medium 60px/79px Roboto;
    letter-spacing: 0px;
    color: var(--cor-primaria);
    opacity: 1;
    width: min-content;
}

.month {
    text-align: left;
    width: min-content;
    height: min-content;
    font: normal normal normal 24px/32px Roboto;
    letter-spacing: 0px;
    color: var(--cor-primaria);
    opacity: 1;
    position: absolute;
    top: 05px;
}

.year {
    top: 32px;
    left: 0px;
    text-align: left;
    font: normal normal 300 24px/32px Roboto !important;
    letter-spacing: 0px;
    color: var(--cor-primaria);
    opacity: 1;
    position: absolute;
    width: min-content;
    height: min-content;
}

.currentDay {
    width: min-content;
    height: min-content;
    font: normal normal normal 24px/32px Roboto;
    color: var(--cor-primaria);
    opacity: 1;
    position: absolute;
    right: 0px;
    top: 32px;
}

@media (min-width: 768px) {
    .header {}

    .currentDay {
        display: flex;
        top: 30px;
        right: 0px;
        height: min-content;
    }

    .mesano {
        top: 0px;
        left: 68px;
    }
}