#Search {
    height: 40px;
    width: 100%;
    font: normal normal normal 24px/32px Roboto;
    font-size: 14px !important;
    padding: 15px 15px 15px 15px;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    margin-top: 25px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

#Search::after {
    background: url('../img/search.png');
    background-repeat: no-repeat;
    background-position: 280px center;
    background-size: 20px;
    display: flex;
    justify-content: end;
}

@media (min-width: 768px) {
    .searchBar {
        width: 65%;
        margin-left:35%;
        justify-content: end;
    }

    #Search {
        background-image: url('../img/search.png');
        background-repeat: no-repeat;
        background-position: 0 end;
        background-size: 20px;
    }
}