:root {
  --cor-primaria: #848484;
  --cor-secundaria: #5DE290;
  --cor-destaque: #E4E4E4;
}


body {
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
}

.app {
  padding: 0px;
  position: relative;
}

@media (min-width: 768px) {
  body {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .app {
    margin-top: 90px;
    width: 60rem;
    position: relative; 
  }
}